img {
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
}

#wheel {
    width: 400px;
    height: 400px;
}

@media (max-width: 600px) {
    #wheel {
        width: 400px;
        height: 400px;
    }
}